* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
}

.top {
    height: 800px;
    background: rgba(225, 255, 143, 1);
}

.top__title {
    padding-top: 196px;
    max-width: 769px;
    font-size: 64px;
}

.top__discription {
    max-width: 720px;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.top_btn {
    width: 247px;
    height: 66px;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 160px;
}

.btn {
    transition: all 0.2s;
}

.btn:hover {
    cursor: pointer;
    background: white;
    color: rgba(32, 32, 39, 1);
}

.top__scroll {
    border: 1px solid;
    background: rgba(188, 236, 48, 1);
    height: 90px;
}

main {
    background-color: rgba(32, 32, 39, 1);
    ;
}

.main__title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding-top: 95px;
}

.main__discription {
    max-width: 788px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 72px;
}

.card {
    background: white;
    width: 378px;
    border-radius: 30px;
}

.card__number {
    width: 108px;
    height: 36px;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 32px;
    border-radius: 53px;
    background: rgba(247, 247, 247, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__name {
    width: 306px;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 36px;
    margin-left: 32px;
}

.list-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: start;
}