* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
}

.center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
}

.top {
    height: 800px;
    background: rgba(225, 255, 143, 1);
}

.top__title {
    padding-top: 196px;
    max-width: 769px;
    font-size: 64px;
}

.top__description {
    max-width: 720px;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.btn {
    width: 247px;
    height: 66px;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: white;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.2s;
}

.top__btn {
    margin-bottom: 160px;
}

.btn:hover {
    cursor: pointer;
    background: white;
    color: rgba(32, 32, 39, 1);
}

.top__scroll {
    border: 1px solid;
    background: rgba(188, 236, 48, 1);
    height: 90px;
}

main {
    background-color: rgba(32, 32, 39, 1);
    padding-bottom: 144px;
}

.main__title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    padding-top: 95px;
}

.main__description {
    max-width: 788px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 72px;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
}

.card-link {
    flex: 1 1 calc(33.333% - 24px);
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.2s;
}

.card-link_end {
    align-self: end;
    ;
}

.card-link:hover {
    transform: scale(1.05);
}

.card {
    box-sizing: border-box;
    background: white;
    border-radius: 30px;
}

.card__img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card__wrapper {
    padding: 32px;
}

.card__number {
    max-width: 108px;
    margin-bottom: 16px;
    border-radius: 53px;
    background: rgba(247, 247, 247, 1);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card__name {
    max-width: 306px;
    font-size: 32px;
    font-weight: 700;
}

.games {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.game-card {
    background: white;
    display: flex;
    border-radius: 30px;
}

.game-card:nth-child(2n) {
    flex-direction: row-reverse;
}

.game-card__content {
    width: 600px;
    padding: 48px;
}

.game-card__name {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.game-card__description {
    font-size: 24px;
    width: 408px;
    margin-bottom: 36px;
}

.game-card__description--big {
    width: 497px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: rgba(189, 237, 53, 1);
}

.footer__text {
    font-size: 24px;
    font-weight: 600;
}